<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/layout.css">

  <title>Bitehouse Labs</title>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/checkout.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="#">Bitehouse Labs</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button id="openCart" class="btn btn-outline-success my-2 my-sm-0" data-toggle='modal' data-target='#submitOrder'>Cart</button>

    </div>
  </nav>


  <div class="card-deck">
<div class="row">

  </div>

  <div class="modal fade" id="submitOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalTitle"> Cart </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="cartBody">



  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Order More</button><br>
<button type="button" id='orderSubmit' class="btn btn-secondary btn-lg btn-block">Submit</button>





</body>

</html>
